article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes jiggle {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes colourFlashFill {
  0% {
    fill: #54c4c6; }
  20% {
    fill: #e94e9c; }
  60% {
    fill: #d9e01e; }
  80% {
    fill: #977dba; }
  100% {
    fill: #54c4c6; } }

@keyframes colourFlashFill {
  0% {
    fill: #54c4c6; }
  20% {
    fill: #e94e9c; }
  60% {
    fill: #d9e01e; }
  80% {
    fill: #977dba; }
  100% {
    fill: #54c4c6; } }

@-webkit-keyframes colourFlashStroke {
  0% {
    stroke: #54c4c6; }
  20% {
    stroke: #e94e9c; }
  60% {
    stroke: #d9e01e; }
  80% {
    stroke: #977dba; }
  100% {
    stroke: #54c4c6; } }

@keyframes colourFlashStroke {
  0% {
    stroke: #54c4c6; }
  20% {
    stroke: #e94e9c; }
  60% {
    stroke: #d9e01e; }
  80% {
    stroke: #977dba; }
  100% {
    stroke: #54c4c6; } }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  position: relative; }

.hide {
  display: none; }

h1 {
  font-size: 10rem;
  color: #fff;
  font-family: 'Jua', cursive;
  line-height: 1;
  margin: 0; }

.ask {
  font-size: 6rem;
  color: #fff;
  font-family: 'Jua', cursive;
  line-height: 1;
  margin: 0; }

h2 {
  margin: 0; }

.instructions {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff; }

p {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.all-caps {
  text-transform: uppercase;
  font-size: 1.6rem; }

h2.user-name {
  font-family: 'Montserrat', sans-serif;
  color: #d9e01e;
  font-size: 2rem;
  font-weight: 700; }

h2.user-name .filler {
  font-size: 2rem;
  color: #d9e01e; }

h2.user-question {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 4rem;
  font-weight: 700; }

input {
  background-color: transparent;
  border: none;
  resize: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px #fff solid;
  font-family: 'Montserrat', sans-serif;
  margin: 25px 0;
  text-align: left;
  width: 500px; }

input:focus {
  border-bottom: 3px #000 solid;
  outline: none; }

::-webkit-input-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

::-ms-input-placeholder {
  color: #fff; }

::placeholder {
  color: #fff; }

input:nth-of-type(2) {
  margin-bottom: 100px; }

.btn {
  padding: 20px 50px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 3px #fff solid;
  background-color: transparent;
  color: #fff;
  font-weight: 700; }

.btn:hover {
  border: 3px transparent solid;
  background-color: #fff; }

.btn-submit:hover {
  color: #977dba; }

.btn-reset:hover {
  color: #4a4a4a; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 1080px; }

.intro {
  height: 100vh;
  background-image: url("../assets/lk-bg-800x800-dark.jpg");
  background-repeat: repeat;
  text-align: center; }

.ft {
  stroke: #fff;
  fill: white;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-name: colourFlashFill;
  animation-name: colourFlashFill; }

.cootie-catcher {
  position: relative;
  width: 400px;
  height: 100%;
  -ms-flex-item-align: center;
  align-self: center;
  -o-object-fit: cover;
  object-fit: cover; }

.inside-SVG {
  position: absolute;
  width: 100%;
  display: block; }

.form {
  height: 100vh;
  background-color: #977dba;
  background-repeat: repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 600px;
  position: relative;
  z-index: 5; }

.form-img {
  position: absolute; }

form .green-triangle {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: -75px;
  left: -180px;
  width: 150px; }

form .pink-triangle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 100px;
  right: -45px;
  width: 80px; }

form .teal-circle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -20px;
  right: -150px;
  width: 120px; }

.greeting {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.greeting .wrapper {
  height: 25vh; }

.game {
  background-image: url("../assets/lk-bg2-500x500-dark.jpg"); }

.colour-game-box {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.colour-game-box-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.colour-magenta {
  background-color: #e94e9c; }

.colour-green {
  background-color: #d9e01e; }

.colour-teal {
  background-color: #54c4c6; }

.colour-purple {
  background-color: #977dba; }

.colour-swatch {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px; }

.first-array-game-box,
.second-array-game-box,
.your-fortune-results-box {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center; }

.first-array-game-box-array,
.second-array-game-box-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.num-container,
.num-container2 {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.num-container-1,
.num-container2-6 {
  border: 3px dotted #e94e9c; }

.num-container-2,
.num-container2-1 {
  border: 3px solid #977dba; }

.num-container-5,
.num-container2-2 {
  border: 3px dotted #d9e01e; }

.num-container-6,
.num-container2-5 {
  border: 3px solid #54c4c6; }

.num-container-3,
.num-container2-8 {
  border: 3px dotted #d9e01e; }

.num-container-4,
.num-container2-3 {
  border: 3px solid #54c4c6; }

.num-container-7,
.num-container2-4 {
  border: 3px dotted #e94e9c; }

.num-container-8,
.num-container2-7 {
  border: 3px solid #977dba; }

.num-container p,
.num-container2 p {
  margin: 0; }

.first-array,
.second-array {
  font-size: 5rem;
  color: #fff; }

.your-fortune {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center; }

.your-fortune .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fortune {
  font-family: 'Jua', cursive;
  color: #fff;
  font-size: 8rem;
  font-weight: 700; }

.fortune-result {
  margin-bottom: 25px; }

/* Portrait tablet and small desktops */
@media (max-width: 1080px) {
  .wrapper {
    width: 940px; } }

@media (max-width: 940px) {
  .wrapper {
    width: 768px; }
  .cootie-catcher {
    width: 400px; }
  h1 {
    font-size: 8rem; }
  .ask {
    font-size: 4rem; }
  form {
    width: 400px; }
  form .green-triangle {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -20px;
    left: -140px;
    width: 120px; }
  form .pink-triangle {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 100px;
    right: -40px;
    width: 60px; }
  form .teal-circle {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    right: -100px;
    width: 80px; }
  input {
    width: 400px;
    font-size: 2rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 480px; }
  .cootie-catcher {
    width: 300px; }
  h1 {
    font-size: 6rem; }
  .instructions {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff; }
  p {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
  .all-caps {
    text-transform: uppercase;
    font-size: 1.6rem; }
  form {
    width: 350px; }
  form .green-triangle {
    display: none; }
  form .pink-triangle {
    display: none; }
  form .teal-circle {
    display: none; }
  input {
    width: 350px;
    font-size: 2rem; }
  h2.user-name {
    font-family: 'Montserrat', sans-serif;
    color: #d9e01e;
    font-size: 1.6rem;
    font-weight: 700; }
  h2.user-name .filler {
    font-size: 1.6rem;
    color: #d9e01e; }
  h2.user-question {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .intro .wrapper {
    padding-top: 50px; }
  .wrapper {
    width: 300px; }
  .cootie-catcher {
    width: 300px; }
  h1 {
    font-size: 4rem; }
  .ask {
    font-size: 2.5rem; }
  .instructions {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff; }
  p {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
  .all-caps {
    text-transform: uppercase;
    font-size: 1.2rem; }
  form {
    width: 280px; }
  input {
    width: 280px;
    font-size: 1.6rem; }
  .num-container,
  .num-container2,
  .colour-swatch {
    width: 90px;
    height: 90px; }
  .game-gif img {
    width: 200px; }
  .fortune-result {
    max-width: 480px;
    min-width: 320px;
    -o-object-fit: cover;
    object-fit: cover; }
  .fortune-result img {
    width: 100%;
    display: block; } }
