@import "partials/setup";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 12rem;
  color: #fff;
  text-transform: uppercase;
  // font-family: 'Barrio', cursive;
  font-family: 'Schoolbell', cursive;
  line-height:1;
};

.small-heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: Arial;
}

.wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  width:1080px;
}

.intro {
  height:100vh;
  background-image: url('../assets/lk-bg-800x800-dark.jpg');
  background-repeat: repeat;
  text-align:center;

}

form {
  display:flex;
  flex-direction: column;
}

.colour-selection{
display:flex;
}

.colour-magenta{
background-color: #e94e9c;
}

.colour-green {
background-color: #d9e01e;
}

.colour-teal {
background-color: #54c4c6;
}

.colour-purple {
background-color: #977dba;
}

.colour-swatch{
  border-radius: 50%;
  width:100px;
  height:100px;
  margin:10px;
}

.first-array-selection,
.second-array-selection {
  display:flex;
}

.first-array,
.second-array {
font-size: 5rem;
margin: 0 50px;
}